<div id="wrapper">
<%= form_for :property, url: properties_path do |f| %>
	<div id="url-input">
		<%= f.text_field :url, :placeholder => "Klistra in en Hemnet-länk här!" %>
		<%= button_tag(type: 'submit') do %>
			Lägg till
		<% end %>
	</div>
<% end %>

<table class="main table table-striped sortable">
  <tr>
    <th></th>
    <th>Adress</th>
    <th>Pris</th>
    <th>Boarea</th>
    <th>Antal rum</th>
    <th>Pris/kvm</th>
    <th>Avgift</th>
    <th>Visning 1</th>
    <th>Starttid</th>
    <th>Sluttid</th>
    <th>Längd</th>
    <th>Visning 2</th>
    <th>Starttid</th>
    <th>Sluttid</th>
    <th>Längd</th>

  </tr>
 
  
  <% @properties.each do |p| %>
    <tr>
    	<td><%= link_to image_tag(p.image.url, :class => "thumb-image"), p.url, :target => "_blank" %></td>
      <td><h1><%= p.address %></td></h1>
      <td><%= number_with_delimiter(p.price, delimiter: " ", locale: :sv) %> kr</td>
      <td><%= p.area %> kvm</td>
      <td><%= p.no_of_rooms %> rum</td>
      <td><%= number_with_delimiter(p.price_per_sqm, delimiter: " ", locale: :sv) %> kr/kvm</td>
      <td><%= number_with_delimiter(p.fee, delimiter: " ", locale: :sv) %> kr/mån</td>
      <td><%= p.showtime1.strftime('%d %B').downcase %></td>
      <td><%= p.showtime1_start.strftime('%H:%M') %></td>
      <td><%= p.showtime1_end.strftime('%H:%M') %></td>
      <td><%= p.showtime1_duration %> min</td>
      <td><%= p.showtime2.strftime('%d %B').downcase %></td>
      <td><%= p.showtime2_start.strftime('%H:%M') %></td>
      <td><%= p.showtime2_end.strftime('%H:%M') %></td>
      <td><%= p.showtime2_duration %> min</td>   
      <td><%= link_to 'Ta bort', property_path(p),
              method: :delete %></td> <!-- data: { confirm: 'Säker?' } -->
    </tr>
  <% end %>
</table> 
(<%= @properties.count %> st)
</div>

<!--
<div class="col-md-12 col-sm-12">
<% @properties.each do |p| %>
      <div class="panel panel-default">
        <div class="panel-body">
              <div class="well well-sm">
                <div class="media">
                    <a class="">
                        <%= link_to image_tag(p.image.url, :class => "thumb-image"), p.url, :target => "_blank" %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= p.address %></h4>
                    <p><span class="label label-info"><%= number_with_delimiter(p.price, delimiter: " ", locale: :sv) %> kr</span></p>

                    </div>
                </div>
               </div>
            </div>
         </div> 
<% end %> -->